[submodule "OPSoul-contract/lib/chainlink"]
	path = OPSoul-contract/lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "OPSoul-contract/lib/chainlink-brownie-contracts"]
	path = OPSoul-contract/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "OPSoul-contract/lib/foundry-devops"]
	path = OPSoul-contract/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
